body{
    font-family: 'Open Sans', sans-serif;
    margin-top:60px;
    padding-bottom:60px;
    /* animation: 1s bodyPopIn ease-in-out; */
}

/* main{
    animation: .5s bodyPopIn ease-in-out;
}

@keyframes bodyPopIn{
    form{
        opacity: 0;
        transform: translateX(10px);
    }
    to{
        opacity: 1;
        transform: none;
    }
} */

* {
    box-sizing: border-box;  
}