.top-header-transparent{
    background-color: transparent;    
}

.profile .profile__header{
    height: 80vh;
    background-image: url('https://i.pinimg.com/736x/60/b0/a7/60b0a7ef623bc2487385bace5d68fc8c--material-wallpapers-android-fantastic-wallpapers.jpg');    
    width: 100%;
    position: relative;
    top:-60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.profile__header .profile__header-container{
    text-align: center;
    position: relative;
    bottom:-60px;
}

.profile__header-container img{
    width:100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile .profile__container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__container input{
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.profile_actions{
    display: flex;
}

.profile__action{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: not-allowed;
}

.profile__action-title{
    font-size: 12px;
    font-weight: 600;
}

.profile_action-circle{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 50%;
    color:#523737;
    margin-bottom: 15px;
}